<div class="center">
<br>
<h1 style = "font-size: 7.0em">About</h1>
<h2 style = "font-size: 3.0em; color:black"; > Welcome to our blackjack app! We developed this site using Ruby on Rails in Pito's 166b course<h2>
<p>
<h1 >Object of the game<h1>
<h2 style = "font-size: 3.0em;color:black"; > Each participant attempts to beat the dealer by getting a count as close to 21 as possible, without going over 21.

<h1 >Card Values/Scoring<h1>
<h2 style = "font-size: 3.0em;color:black"; >It is up to each individual player if an ace is worth 1 or 11. Face cards are 10 and any other card is its pip value.<h2>

<h1>Betting<h1>
<h2 style = "font-size: 3.0em;color:black"; > Before the deal begins, each player places a bet value. A player cannot bet more tokens then he/she owns<h2>

<h1 >The play<h1>
<h2 style = "font-size: 3.0em;color:black"; > The player to the left goes first and must decide whether to "stand" (not ask for another card) or "hit" (ask for another card in an attempt to get closer to a count of 21, or even hit 21 exactly). Thus, a player may stand on the two cards originally dealt to them, or they may ask the dealer for additional cards, one at a time, until deciding to stand on the total (if it is 21 or under), or goes "bust" (if it is over 21). In the latter case, the player loses and the dealer collects the bet wagered. The dealer then turns to the next player to their left and serves them in the same manner.<h2>

<h2 style = "font-size: 3.0em;color:black"; >The combination of an ace with a card other than a ten-card is known as a "soft hand," because the player can count the ace as a 1 or 11, and either draw cards or not. For example with a "soft 17" (an ace and a 6), the total is 7 or 17. While a count of 17 is a good hand, the player may wish to draw for a higher total. If the draw creates a bust hand by counting the ace as an 11, the player simply counts the ace as a 1 and continues playing by standing or "hitting" (asking the dealer for additional cards, one at a time).<h2>

<h1 >The dealer's play<h1>
<h2 style = "font-size: 3.0em;color:black"; >When every player has either busted or stood, the dealers face-down card will be turned up and his/her remainign cards will be dealt. If the total is 17 or more, it will have stood if the total was 16 or under, the dealer would have taken an additional card. The dealer will have continued to take cards until the total is 17 or more, at which point the dealer will stand. If the dealer has an ace, and counting it as 11 would bring the total to 17 or more (but not over 21), the dealer must count the ace as 11 and stand.<h2>

<h1>Basic strategy<h1>
<h2 style = "font-size: 3.0em;color:black"; >Winning tactics in Blackjack require that the player play each hand in the optimum way, and such strategy always takes into account what the dealer's upcard is. When the dealer's upcard is a good one, a 7, 8, 9, 10-card, or ace for example, the player should not stop drawing until a total of 17 or more is reached. When the dealer's upcard is a poor one, 4, 5, or 6, the player should stop drawing as soon as he gets a total of 12 or higher. The strategy here is never to take a card if there is any chance of going bust. The desire with this poor holding is to let the dealer hit and hopefully go over 21. Finally, when the dealer's up card is a fair one, 2 or 3, the player should stop with a total of 13 or higher.<h2>

<h2 style = "font-size: 3.0em;color:black"; >With a soft hand, the general strategy is to keep hitting until a total of at least 18 is reached. Thus, with an ace and a six (7 or 17), the player would not stop at 17, but would hit.

</p>