<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
<% provide(:title, "About") %>
<h1>About</h1>
<h2> Welcome to our blackjack app! We developed this site using Ruby on Rails in Pito's 166b course<h2>
<p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</p>