<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
  <br>
  <h1>Help</h1>
  <h2> Contact us! <br><br>
  <div class="center">
  <%= link_to "Submit a Form", contact_index_path, class: "btn btn-lg btn-success"%>
  <div>
  <br>
  or email us at <br> <br>
  nathanielw@brandeis.edu <br> <br>
  harvans5@brandeis.edu <br> <br>
  jaredpanson@brandeis.edu <br> <br>
  <br>
  <div>
  <br><br><br><br><br><br><br><br><br><br>
 <h2>

