<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">

<% provide(:title, "Help") %>

<h1>Help</h1>
<h2>
  Contact us! <br><br>
  Nathaniel:  nathanielw@brandeis.edu <br>
  <br>
  Henry: harvans5@brandeis.edu <br>
  <br>
  Jared: jaredpanson@brandeis.edu <br>
  <br>
  <br><br>
  <%= link_to "Submit a Form", contact_index_path, class: "btn btn-lg btn-success"%>
<br><br><br><br><br><br><br><br><br><br>
 <h2>

