<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
  <br>
  <h1>Help</h1>
  <h2> Contact us and help improve our site! <br><br>
  <div class="center">
  <%= link_to "Submit a Form", contact_index_path, style: "color:white", class: "btn btn-lg btn-success"%>
    <h2 style = "font-size:20px; text-align: right; margin-top: -50px"> or email us at <br> <br>
    nathanielw@brandeis.edu <br> <br>
    harvans5@brandeis.edu <br> <br>
    jaredpanson@brandeis.edu <br> <br>
    <h2>


