<div class="center jumbotron">
  <h1>Welcome to the greatest card game on the internet</h1>

  <h2>
    You are currently on the home page.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
