<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
<div class="center">
<br>
  <h1>Welcome to online blackjack</h1>
   <h2>
    Welcome to the home page.
  </h2>
  <% if logged_in?%>
    <%= link_to "Play a Game!", new_game_session_path, class: "btn btn-lg btn-success"%>
  <%else%>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
  <%end%>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

