<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
<div class="center">
<br>
<h1>Store</h1>
<h2> Welcome to our blackjack store! You can get more tokens here.<h2>
<p>
<button type="button" class="btn btn-success btn-lg">
    <%= link_to "Add Tokens", users_add_tokens_path, method: :get,  data: { disable_with: 'loading...' } %>
</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</p>