<div style="background-image: url('https://cdn.hswstatic.com/gif/how-to-play-blackjack-lead.jpg');">
<div class="center">
<br>
<h1>Store</h1>
<h2> Welcome to our blackjack store! You can earn more tokens below.<h2>
<p>

<%= link_to "Add tokens!",  users_add_tokens_path, style: "margin-bottom: 500px; color:white; font-size: 30px", method: :get,  data: { disable_with: 'loading...' }, class: "btn btn-lg btn-success"%>

</p>