<h1>Welcome to the Leaderboard!</h1>

<table style = "margin-bottom: 40px; text-align: center;">
    <thead>
        <tr style = "font-family: Georgia; color: white; font-size: 30px; ">
            <th style = " padding-right: 60px;"> Rank </th> 
            <th style = " padding-right: 60px;"> Username </th>
            <th style = "padding-right: 60px;"> Tokens </th>
        </tr>
       
    </thead>
    <div>
          
    <tbody >
    
        <% @ranks.each do |rank| %>
            <tr style = "color: white; ">
                <td style ="font-family: Georgia;font-size: 20px;"> <%= @ranks.find_index(rank) + 1%></td>
                <td style ="font-family: Georgia;font-size: 20px;"> <%= rank[0].name%> </td>
                <td style ="font-family: Georgia;font-size: 20px;"> <%= rank[1]%>
            </tr>
        <%end%>
    </tbody>
</table>

<br>
