<h1>Welcome to the Leaderboard!</h1>

<table>
    <thead>
        <tr>
            <th style = "color:white; font-size: 20px;"> Rank </th> 
            <br>
            <th style = "color:white; font-size: 20px;"> Username </th>
            <th style = "color:white; font-size: 20px;"> Total Tokens </th>
        </tr>
       
    </thead>
    <div>
          
    <tbody>
        <% @ranks.each do |rank| %>
            <tr>
                <td style = "color:white; font-size: 20px" > <%= @ranks.find_index(rank) + 1%></td>
                <td style = "color:white; font-size: 20px"> <%= rank[0].name%> </td>
                <td style = "color:white; font-size: 20px"> <%= rank[1]%>
            </tr>
        <%end%>
    </tbody>
</table>

<br>
