<% provide(:title, 'All users') %>

<h6>All users</h6>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="https://www.gamblingsites.org/wp-content/uploads/2019/09/zzz.jpg" alt="Italian Trulli">

<%= will_paginate %>