<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h6>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h6>
    </section>
  </aside>
</div>

<img src="https://www.gamblingsites.org/wp-content/uploads/2019/09/zzz.jpg" alt="Italian Trulli">
