<form>
  <label for="amount_bet">Place Bet:</label><br>
  <input type="text" id="amount_bet" name="amount_bet"><br>
  <button type="submit">Place my bet</button>
</form>
<%# controller.redirect_to @game %>