<style>    
nav ul li a{
  color: white;
}    
</style>
<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <nav>
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav navbar-nav pull-right" >
          <li ><%= link_to "Help",   help_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>